<!-- Hide loading display once 100% is reached -->
<div id='loading-card-inner' class="centre-absolute" [hidden]="loadingProgress === 100">
<!--  [ngClass]="{'hidden': loadingProgress === 100}"  -->
  <mat-card class="mat-elevation-z6">
    <!--  Set progress spinner value to match loadingProgress value  -->
    <mat-progress-spinner class='centre-margin' color="accent" aria-label="loading vmic"
                          [value]=loadingProgress>
    </mat-progress-spinner>
    <div id="loading-text" class="mat-small color-accent bold"></div>
  </mat-card>
</div>
