/* You can add global styles to this file, and also import other style files */
// Import library functions for theme creation.
@import '~@angular/material/theming';
@import 'theme.scss';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

// Include theme styles for your custom components.
@include app-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hidden {
  display: none;
}
.centre-absolute {
  position: absolute!important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.centre-margin {
  margin: auto;
}
.flex-column {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.flex-fill {
  flex: 1 1 auto;
}
.elevate-z-2 {
  z-index: 2;
}
.pos-relative {
  position: relative;
}
.block {
  display: block!important;
}
.bold {
  font-weight: 600;
}
.card-border-radius {
  border-radius: 4px;
}
