.centre-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.centre-margin {
  margin: auto;
}
#osd-wrapper {
  height: 100%;
  width: 100%;
  background-color: #121212;
}
#loading-text {
  margin-top: 20px;
  text-align: center;
  width: 160px;
}

